.list {
  &:first-child {
    margin-bottom: 60px;
  }

 & li:not(:last-child) {
    margin-bottom: 24px;
  }

  & .button {
    gap: 12px;
    justify-content: start;
    padding: 0;
    color: var(--color-light-100);

    &:focus-visible {
      color: inherit;
    }

    &:hover {
      color: var(--color-accent-100);
    }
  }

  & .active {
    color: var(--color-accent-500);

    &:focus-visible {
      color: var(--color-accent-500);
    }
  }

}


