.card {
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-500);
  border: 2px solid var(--color-dark-300);
  &.sm {
    max-height: 72px;
  }
  &.md {
    max-height: 96px;
  }
  &.lg {
    max-height: 120px;
  }
  &.flex {
    display: flex;
    &.center {
      justify-content: center;
    }
    &.columnCenter {
      flex-direction: column;
      align-items: center;
    }
    &.spaceBetween {
      justify-content: space-between;
    }
    &.spaceBetweenCenter {
      justify-content: space-between;
      align-items: center;
    }
  }
}