.card {
  width: 378px;
  margin: 0 auto;
  padding: 24px;
}

.modalBtn {
  margin-left: auto;
}

.policyWrapper {
  display: flex;
  margin-bottom: 12px;
}


.policyText {
  display: flex;
  align-items: center;
  margin-left: 4px;
  & a:first-of-type {
    margin: 0 5px;
  }

  & a:last-of-type {
    margin-left: 5px;
  }
}

.signUpBtn {
  margin-bottom: 18px;
}

.signInTitle {
  margin-bottom: 12px;
  text-align: center;
}

.signInBtn {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}
