.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  border-radius: 2px;
  padding: 6px 24px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);

  &:disabled {
    cursor: default;
  }
}

.primary {
  background-color: var(--color-accent-500);
  color: var(--color-light-100);
  width: 182px;

  &:hover {
    background-color: var(--color-accent-100);
    color: var(--color-light-100);
  }

  &:focus {
    background-color: var(--color-accent-700);
    color: var(--color-light-100);
  }

  &:active {
    background-color: var(--color-accent-700);
    color: var(--color-light-500);
  }

  &:disabled {
    background-color: var(--color-accent-900);
    color: var(--color-light-900);
  }
}

.secondary {
  width: 182px;
  background-color: var(--color-dark-300);
  color: var(--color-light-100);

  &:hover {
    background-color: var(--color-dark-100);
    color: var(--color-light-100);
  }

  &:focus {

    border: 1px solid var(--color-accent-300);
    color: var(--color-light-100);
  }

  &:active {
    background-color: #212121;
    color: var(--color-light-100);
  }

  &:disabled {
    background-color: var(--color-dark-500);
    color: var(--color-light-900);
  }

}

.outlined {
  width: 182px;
  border: 1px solid var(--color-accent-500);
  color: var(--color-accent-500);

  &:hover {
    border: 1px solid var(--color-accent-100);
    color: var(--color-accent-100);
  }

  &:focus {
    border: 1px solid var(--color-accent-700);
    color: var(--color-accent-700);
  }

  &:active {
    border: 1px solid var(--color-accent-700);
    color: var(--color-accent-700);
  }

  &:disabled {
    border: 1px solid var(--color-accent-900);
    color: var(--color-accent-900);

  }
}

.link {
  width: 100px;
  height: 36px;
  color: var(--color-accent-700);


  &:hover {
    color: var(--color-accent-100);
  }

  &:focus {
    border: 2px solid var(--color-accent-700);
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.icon {
  padding: 0;
  width: 24px;
  height: 24px;
  color: var(--color-dark-900);
}



