.container {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.editProfile {
  width: 740px;
}

.selectsContainer {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 100%;

  div {
    label {
      padding-left: 0;
    }
  }
}

.select {
  width: 350px;
}

.textfiled {
  label {
    position: relative;
    color: var(--color-light-900);

    &::after {
      content: '*';
      color: var(--color-danger-500);
    }
  }
}

.saveBtn {
  margin-left: auto;
}
