:root {
  font-size: 16px;

  // line-height
  --line-height-xs: 1; 
  --line-height-s: 1.33;
  --line-height-m: 1.385;
  --line-height-l: 1.5; 
  --line-height-xl: 1.71;
  --line-height-xxl: 1.8;

  // --line-height-s: 16px;
  // --line-height-m: 24px;
  // --line-height-l: 36px;

  // font-size
  --font-size-xxs: 0.75rem; /* 12px */
  --font-size-xs: 0.875rem; /* 14px */
  --font-size-s: 1rem; /* 16px */
  --font-size-m: 1.125rem; /* 18px */
  --font-size-l: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 1.625rem; /* 26px */

  // font-weight
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}