
.container {
  display: flex;


}

.imageWrapper {
  max-width: 490px;
  width: 100%;
 /* height: 100%;
  max-height: 562px;*/

}


.infoWrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  max-width: 480px;
  height: 100%;
  min-height: 60px;
  max-height: 564px;
}

.avatarWithNameWrapper {
  border-bottom: 1px solid var(--color-dark-100);
}

.avatarWithName {
  display: flex;
  gap: 12px;
  padding: 12px 24px;
}


.avatarWrapper {
  position: relative;
  overflow: hidden;
  width: 36px;
  height: 36px;
}

.commentAvatarWrapper {
  position: relative;
  top: 4px;

  overflow: hidden;

  width: 36px;
  height: 36px;
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;

}

.defaultAvatar {
  overflow: hidden;

  min-width: 36px;
  border-radius: 50%;

  object-fit: cover;
  background-color: var(--light-900);
}

.commentsWrapper {
  overflow-y: auto;
  display: flex;
  //flex: 1;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: flex-start;

  height: 100%;
  max-height: 564px;
  padding: 20px 24px;
 // border-bottom: 1px solid var(--color-dark-100);
}

.commentsWrapper::-webkit-scrollbar {
  width: 4px;
}

.commentsWrapper::-webkit-scrollbar-thumb {
  min-height: 46px;
  border-radius: 4px;
  background-color: var(--dark-300);
}

.commentsWrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-900);
}

.commentsWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.avatarWithComment {
  display: flex;
  gap: 5px;

}

.commentWrapper {
  flex: 1;
  min-width: 0;
}

.likesWrapper {
  height: 100%;
  min-height: 84px;
  border-top: 1px solid var(--color-dark-100);
}

.likesWithDate {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 24px;
}

/*.commentText {
  max-width: 100%;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: anywhere;
}*/

.likeText {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.likeAvatarsWrapper {
  position: relative;
  height: 24px;
}

.avatarsWithLikes {
  display: flex;
  gap: 12px;
}

.firstLikeAvatar {
  position: absolute;
  z-index: 3;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
  width: 24px;
}

.secondLikeAvatar {
  position: absolute;
  z-index: 2;
  left: 16px;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
}

.thirdLikeAvatar {
  position: absolute;
  z-index: 1;
  left: 32px;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
}

.defaultFirstLikeAvatar {
  position: absolute;
  z-index: 3;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
  background-color: var(--primary-100);

}

.defaultSecondLikeAvatar {
  position: absolute;
  z-index: 2;
  left: 16px;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
  background-color: var(--danger-100);
}

.defaultThirdLikeAvatar {
  position: absolute;
  z-index: 1;
  left: 32px;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
  background-color: var(--color-light-100);
}

.timeAgoText {
  color: var(--color-light-900);
  margin-top: 5px;
}

.ViewAnswer {
  color: var(--color-light-900);
}

.answersWrapper {
  display: flex;
  gap: 7px;
  margin-top: 8px;
}

.answerLine {
  position: relative;
  top: 8px;
}





