.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;

  .arrowBack {
    margin-left: 32px;
  }

  .nextBtn {
    margin-right: 36px;
    padding: 0;
  }
}

.publicationWrapper {
  display: flex;

  .contentWrapper {
    width: 100%;
    max-width: 480px;

    .decrWrapper {
      width: 432px;
      margin: 0 auto 35px;

      .textLengthWrapper {
        color: var(--color-light-900);
        text-align: right;

        .textLengthError {
          margin-right: auto;
          color: var(--color-danger-500);
        }
      }

      & label {
        color: var(--color-light-900);
      }
    }

    .line {
      width: 100%;
      margin: 0;
    }
  }
}

.publicationWrapper {
  height: 490px;
}

.sliderItem {
  position: relative;
  height: 490px;
}

.sliderItem > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
