.defaultFirstLikeAvatar {
  // position: absolute;
  z-index: 3;

  overflow: hidden;

  border-radius: 50%;

  object-fit: cover;
  background-color: var(--primary-100);

}

.imageWrapper{
  flex-shrink: 0;
}