.button {
    z-index: 10;

    width: 24px;
    height: 24px;
    border-radius: 100%;

    transition: opacity .3s ease;
}

.button:hover {
    opacity: .7;
}

.iconWrapper {
    position: relative;
}

.close {
    border: 4px solid var(--color-dark-700);
    background-color: var(--color-danger-500);
}

.counter {
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 13px;
    height: 13px;
    border-radius: 100%;

    color: var(--color-light-100);

    background-color: var(--color-danger-500);
}

.textWrapper {
    font-size: 10px;
    font-weight: 500;
}