.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
}

.arrowBack {
  margin-left: 32px;
}

.nextBtn {
  margin-right: 36px;
  padding: 0;
}

.cropWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  //height: 754px;
  height: 450px;
  margin-top: 72px;

  &.photoPreview {
    margin-top: 0;
  }
}


//.mySlick {
//  width: 100%;
//  height: 100%;
//
//  button {
//      width: 36px;
//      height: 36px;
//      border-radius: 2px;
//      background: var(--color-dark-500);
//      opacity: 0.8;
//      position: absolute;
//      top: 250px;
//  }
//
//}


.cropContainer {
  position: absolute;
  inset: -2px 0 0;

  width: 100%;
  height: 100%;

  // bottom: 80px;


}

.popoversWrapper {
  position: absolute;
  z-index: 999;
  bottom: -45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 12px;
  padding: 0 12px;
}

.controlsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * + * {
    margin-left: 24px;
  }
}

.rangeInput {
  display: flex;
  width: 100px;
  height: 4px;
  margin: 4px;
}

.aspectRatioWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 130px;
  margin-bottom: 12px;

  color: var(--color-light-900);

  &:last-child {
    margin-bottom: 0;
  }

  & svg {
    stroke: var(--color-light-900);

    &.active {
      stroke: var(--color-light-100);
    }
  }

  &.active {
    color: var(--color-light-100);

    svg {
      stroke: var(--color-light-100);
    }
  }

  &.imageOutline {
    svg {
      fill: var(--color-light-900);
      stroke: none;
    }

    &.active svg {
      fill: var(--color-light-100);
    }
  }
}



// PhotoItem
.photoItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  .plusBtn {
    width: 30px;
    height: 30px;
  }
}
.photoItemWrapper {
  position: relative;
  cursor: pointer;
  .removePhoto {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--color-dark-500);
    opacity: 0.8;
  }

}
