.expandableText {
  & .wrapper {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  & .text {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-xl);
    color: inherit;
  }

  & .inlineButton {
    display: inline;
    padding: 0;
  }
}
